#Twitter scraper ignores
/twitter-scraper/__pycache__
/twitter-scraper/env
/twitter-scraper/raw_tweets
/twitter-scraper/config.py
/twitter-scraper/dev.ipynb
/twitter-scraper/test_list.csv

#Twitter scraper ignores
__pycache__
env
raw_tweets
config.py
dev.ipynb
test_list.csv
#user_id_list.csv

.vscode


# Ignore bundler config.
/sinatra-api/.bundle

# Ignore the default SQLite database.
/sinatra-api/db/*.sqlite3
/sinatra-api/db/*.sqlite3-*

# Byebug
/sinatra-api/.byebug_history

# Canvas-specific .results.json
/sinatra-api/.results.json
/sinatra-api/config
/sinatra-api/db

